<div *ngFor="let character of characters">
    <h2>Specific Character</h2>
    <br>

    <p class="text-muted"> {{character.name=='' ?  '' : character.name }} <strong class="text-secondary">{{ character.aliases[0]!=''&&character.name!='' ? ' aka ': '' }}</strong>   {{character.aliases[0]=='' ?  '' : character.aliases[0] }}</p>
    <p class="text-primary">Gender: {{ character.gender }}</p>
    <p class="text-secondary">Culture: {{ character.culture }}</p>
    <p class="text-warning">Born: {{ character.born }}</p>
    <p class="text-danger">Died: {{ character.died }}</p>
    <p class="text-success">Titles: {{ character.titles.join(', ') }}</p>
    <p class="text-info">Aliases: {{ character.aliases.join(', ') }}</p>
    <p class="text-muted">Father: {{ character.father }}</p>
    <p class="text-primary">Mother: {{ character.mother }}</p>
    <p class="text-secondary">Spouse: {{ character.spouse }}</p>
    <p class="text-warning">Allegiances: {{ character.allegiances.join(', ') }}</p>
    <p class="text-danger">Books: {{ character.books.join(', ') }}</p>
    <p class="text-success">POV Books: {{ character.povBooks.join(', ') }}</p>
    <p class="text-info">TV Series: {{ character.tvSeries.join(', ') }}</p>
    <p class="text-primary">Played By: {{ character.playedBy.join(', ') }}</p>
</div>
