<div *ngFor="let character of characters" class="container">
    <h2>Specific Character: {{character.name=='' ?  '' : character.name }} <strong class="text-secondary">{{ character.aliases[0]!=''&&character.name!='' ? ' aka ': '' }}</strong>   {{character.aliases[0]=='' ?  '' : character.aliases[0] }}</h2>
    <br>

    <p class="text-primary col-6">{{ character.gender!='' ? 'Gender: '+character.gender : '' }}</p>
    <p class="text-primary col-6">{{ character.culture!='' ? 'Culture: '+character.culture : '' }}</p>
    <p class="text-success col-6">{{ character.born!='' ? 'Born: '+character.born : '' }}</p>
    <p class="text-danger col-6">{{ character.died!='' ? 'Died: '+character.died : '' }}</p>
    <p class="text-info col-6">{{ character.titles[0]!='' ? 'Titles: '+character.titles.join(', ') : '' }}</p>
    <p class="text-warning col-6">{{ character.aliases[0]!='' ? 'Aliases: '+character.aliases.join(', ') : '' }}</p>

    
    <div *ngIf="father != undefined">
      <p class="text-primary col-6" >Father:</p>
      <p class="text-muted col-6" app-character-item style="display:inline-block" [character]="father" routerLink="/character/{{ getInt(father.url) }}"
      >
      </p>
    </div>

    
    <div *ngIf="mother != undefined">
        <p class="text-primary col-6">Mother:</p>
      <p class="text-muted col-6" app-character-item style="display:inline-block" [character]="mother" routerLink="/character/{{ getInt(mother.url) }}">
      </p>
    </div>

    
    <div *ngIf="spouse != undefined">
        <p class="text-primary col-6">Spouse:</p>
      <p class="text-muted col-6" app-character-item style="display:inline-block" [character]="spouse" routerLink="/character/{{ getInt(spouse.url) }}">
      </p>
    </div>

    
    <div *ngIf="houses.length != 0">
      <p class="text-primary col-6">Allegiances:</p>
      <p class="text-warning col-6" app-house-item style="display:inline-block" *ngFor="let house of houses" [house]="house" routerLink="/house/{{ getInt(house.url) }}">
      </p>
    </div>

    
    <div *ngIf="books.length != 0">
      <p class="text-primary col-6">Books:</p>
      <tr class="text-danger col-6" app-book-item *ngFor="let book of books" [book]="book"> 
      </tr>
    </div>

    
    <div *ngIf="povBooks.length != 0">
        <p class="text-primary col-6">POV Books:</p>
      <tr class="text-danger col-6" app-book-item *ngFor="let book of povBooks" [book]="book">
      </tr>
    </div>

    <p class="text-primary col-6">{{ character.tvSeries[0]!='' ? 'TV Series: '+character.tvSeries.join(', ') : '' }}</p>
    <p class="text-primary col-6">{{ character.playedBy[0]!='' ? 'Played By: '+character.playedBy.join(', ') : '' }}</p>
    <button (click)="goBack()" type="button" class="btn btn-primary btn-lg btn-block">Back</button>
</div>
