<div>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="firstFunc()" href="javascript:void(0)">First</a></li>
        <li class="page-item"><a class="page-link" (click)="prevFunc()" href="javascript:void(0)">Previous</a></li>
        <li class="page-item"><a class="page-link" (click)="nextFunc()" href="javascript:void(0)">Next</a></li>
        <li class="page-item"><a class="page-link" (click)="lastFunc()" href="javascript:void(0)">Last</a></li>
      </ul>
    <ul app-house-item *ngFor="let house of houses" [house]="house">
    </ul >
  </div>