<div class="card text-white bg-primary mb-3 " style="max-width: 30rem;" [ngClass]="setClasses()">
    <div class="card-header">{{ house.region!='' ? house.region : '' }} </div>
    <div class="card-body">
      <h4 class="card-title">{{house.name=='' ?  '' : house.name }}</h4>
      <p class="card-text">
          Titles: <b class="text-info">{{house.titles[0]!='' ? house.titles.join(', ') : "none"}} </b><br>
          <br>
        Words: {{ house.words!='' ? house.words : 'none'}}<br>
        <br>
        Coat of Arms: {{ house.coatOfArms!='' ? house.coatOfArms : 'none'}}<br>
        <br>
        Seats: {{ house.seats[0]!='' ? house.seats.join(', ') : 'unknown' }}<br>
        <br>
        Current Lord:  <br><b class="text-danger">{{house.currentLord!='' ? house.currentLord : "none"}} </b>

      </p>
    </div>
  </div>